#center {
    display: inline-block;
    padding: 0px;
    width: 1300px;
    left: 32px;
    top: 12px;
    margin-bottom: 94px;
}

#controls {
    display: inline-block;
    width: 1300px;
}

#logo {
    display: inline;
    margin-right: 400px;
    margin-left: 8px;
}
  
#Pricing {
    display: inline;
    margin-right: 20px;
}
  
#FAQ {
    display: inline;
    margin-right: 20px;
}
  
#Ourreviews {
    display: inline;
    margin-right: 430px;
}

#button {
    display: inline;
    width: 91px;
    height: 30px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1px solid #6941C6;
    background: #6941C6;
    color: #FFF;
}

#container {
    display: inline-block;
    text-align: center;
    width: 1256px;
    background-color: #F1E8FF;
    margin-left: 36px;
}

#headAndSupp {
    display: inline-block;
    margin-top: 72px;
}

#head {
    display: block;
    color: #181D27;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 16px;
}

#supp {
    display: block;
    color: #535862;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
}

#content {
    display: block;
    padding: 8px;
    height: 712px;
    margin-bottom: 64px;
}

#cardOne {
    display: inline-block;
    width: 375px;
    height: 670px;
    line-height: 17.7px;
    border-radius: 24px;
    background-color: #FFFFFF;
}

#headAndPricin {
    width: 400px;
    height: 235px;
}

#badge {
    display: inline-block;
    width: 88px;
    height: 34px;
    border-radius: 8px;
    margin-top: 40px;
    border: 1px solid #E9D7FE;
    color: #6941C6;
    background-color: #F9F5FF;
}

#basic {
    display: inline-block;
    margin: 0;
    padding: 12px 4px;
    line-height: 16px;
}

#price {
    display: block;
    color: #181D27;
    text-align: center;
    height: 72px;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 8px;
}

#suppText {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}

#get {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    margin-bottom: 8px;
}

#started {
    display: inline-block;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 2px solid #7F56D9;
    background: #7F56D9;
}

#chat {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid #D5D7DA;
    background: #FFFFFF;
    margin-bottom: 24px;
}

#hr {
    display: inline-block;
}

#sales {
    display: inline-block;
    padding: 12px 16px;
    color: #000;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
}

#cardContent {
    display:block;
    text-align: left;
    margin-left: 32px;
}

#items {
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

div#items {
    display: inline-block;
    width: 280px;
    height: 20px;
}

#Check {
    display: inline-block;
    
}

#accesibility {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-bottom: 8px;
}

#basicChatAndEmail {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
}

#business {
    display: inline;
    line-height: 32px;
}

#cardTwo {
    display: inline-block;
    width: 375px;
    height: 670px;
    margin: 0;
    border-radius: 24px;
    background-color: #FFFFFF;
}

#headerTwo {
    display: inline-block;
}

#headAndPricin {
    width: 400px;
    height: 235px;
}

#badges {
    display: inline-block;
    margin-top: 320px;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #E9D7FE;
    color: #6941C6;
    background-color: #F9F5FF;
}

#enterprise {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 16px;
}

#price {
    display: block;
    color: #181D27;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 8px;
}

#suppText {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}

#get {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    margin-bottom: 8px;
}

#started {
    display: inline-block;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 2px solid #7F56D9;
    background: #7F56D9;
}

#chat {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid #D5D7DA;
    background: #FFFFFF;
    margin-bottom: 24px;
}

#sales {
    display: inline-block;
    padding: 12px 16px;
    color: #000;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
}

#cardContent {
    display:block;
    text-align: left;
    margin-left: 32px;
}

#items {
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#Check {
    display: inline-block;
    
}

#accesibility {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-bottom: 8px;
}

#cardThree {
    display: inline-block;
    width: 375px;
    height: 670px;
    margin: 0;
    line-height: 17/7px;
    border-radius: 24px;
    background-color: #FFFFFF;
}

#headerTwo {
    display: inline-block;
}

#headAndPricin {
    width: 400px;
    height: 235px;
}

#badges {
    display: inline-block;
    margin-top: 40px;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #E9D7FE;
    color: #6941C6;
    background-color: #F9F5FF;
}

#enterprise {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 16px;
}

#price {
    display: block;
    color: #181D27;
    text-align: center;
    font-family: 'Inter';
    width: 375px;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 8px;
}

#suppText {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
}

#priceAndSuppor {
    display: inline-block;
    width: 375px;
    height: 130px;
}

#got {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    background: #7F56D9;
    margin-top: 16px;
    margin-bottom: 8px;
}

#started {
    display: inline-block;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 2px solid #7F56D9;
    background: #7F56D9;
}

#chat {
    display: inline-block;
    width: 300px;
    height: 40px;
    padding: 12px 18px;
    border-radius: 8px;
    border: 2px solid #D5D7DA;
    background: #FFFFFF;
    margin-bottom: 24px;
}

#sales {
    display: inline-block;
    padding: 12px 16px;
    color: #000;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
}

#cardContent {
    display:block;
    text-align: left;
    margin-left: 32px;
}

#items {
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#Check {
    display: inline-block;
    
}

#accesibility {
    display: inline-block;
    color: #535862;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-bottom: 8px;
}

#frame {
    display: inline-block;
    width: 1248px;
    text-align: center;
}

#headingAndSupp {
    display: inline-block;
    margin-top: 32px;
    text-align: center;
}

h1 {
    display: block;
    font-weight: 600;
    margin-bottom: 16px;
}

#questions {
    display: inline;
    width: 468px;
    height: 16px;
    margin-bottom: 0;
}